---

- name: Copy new sshd_config file
  copy: src=sshd_config dest=/etc/ssh mode=0644
  
- name: Copy new authorized keys file
  copy: src=authorized_keys dest=/root/.ssh mode=0644

- name: Restart ssh
  command: service ssh restart